/*
** Github : http://github.com/ringether/TGD/
** Copyright(c)2018 All rights reserved by aaarin317
**
** 사용은 자유이나 출처 기재해주시면 감사드리겠습니다.
**
** 린게더는 트게더의 CSS 운영정책을 존중합니다.
** 혹여나, 위반되는 항목이 있는 경우 린게더에 알려주세요.
*/

/* #region 공통 */
html {
    height: auto;
    background: linear-gradient(to bottom, #FFB0C2, #FFFFFF);
}
body {
    background: transparent;
}
:selection, :-moz-selection {
    background: #F36E92;
}
header #right-search-form>input[type=text] {
    border-color: #ED4A77;
    border-radius: 15px 0 15px 0;
}
header #right-search-form>#right-search-btn {
    color: #ED4A77;
}
/* #endregion */

/* #region 헤더 */
header .row > div:nth-child(1) > a {
    background-repeat: no-repeat;
    display: block;
    width: 140px;
    height: 50px;
    background-image:url(https://ringether.github.io/TGD/img/logo.png);
}

header .row > div:nth-child(1) > a img {
    opacity: 0;
}

header #header-bar > .row {
    border-top: 5px solid #ED4A77;
    border-radius: 15px 0 15px 0;
}
header #header-bar #header-top-notice strong.notice-badge {
    background: #ED4A77;
}
/* #endregion */

/* #region 린게더 상단 */
#board-info #board-info-profile-img {
    width: 75px;
    height: 75px;
    position: absolute;
    top: -15px;
    left: 5px;
    border: 3px solid #ED4A77;
    border-radius: 50%;
    background: url(https://ringether.github.io/TGD/img/profile_181031.jpg) no-repeat -15px 0px;
    padding-left: 69px;
    background-size: 100px;
}

#board-info h1, #board-info #board-info-bottom {
    margin-left: 70px;
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span,
#article-list > .article-list-row > .item > .list-title > small.comment-count 
{
    color: #ED4A77;
}

.badge {
    float:right;
}
/* #endregion */

/* #region 좌측 메뉴 */
#main .menu-wrapper>a>em,
#main .menu-wrapper>a>i.fa.fa-square
{
    color: #EA8FA8;
}

#main .menu-wrapper>.header {
    background: #ED4A77;
}

#main .menu-wrapper .spacer {
    background: #EA8FA8;
}
/* #endregion */

/* #region 카테고리 */
#article-list #article-list-category {
    background: #FFF2F5;
    border-top: 2px solid #ED4A77
}
#article-list #article-list-category > a {
    margin-top:1px;
    background: #FFF2F5;
    transition-duration: .7s;
}
#article-list #article-list-category > a.active,
#article-list #article-list-category > a:hover 
{
    background: #FFFFFF;
    transition-duration: .7s;
}
#article-list #article-list-category > a.active > .fa-home, #article-list #article-list-category>a:hover > .fa-home {
    color: #ED4A77;
}
/* #endregion */

/* #region 목록 */
#article-list>.article-list-row.notice {
    background-color: #FADDE5;
}
#article-list>.article-list-row.hot {
    background-color: #FFEE;
}
#article-list>.article-list-row:hover {
    background-color:#FFF2F5;
}
#article-list>.article-list-row>.item>.list-header>span {
    background-color: #F36E92;
}
#article-list>.article-list-row:hover>.item>.list-header.v0>span {
    background: #FFF2F5;
    color: #FFF2F5;
}
/* #endregion */

/* #region 뷰어 */
#board-info #viewers-area .fa-user:before {
    content: "(つ >ω●)つ 트수";
    cursor: text;
}

#board-info #viewers-area {
    color: #ED4A77;
}

#board-info #viewers-area #viewers:after { 
    content: "명 안냥"; 
    cursor : text;
}
/* #endregion */

/* #region 페이징 */
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
     background-color: #ED4A77; border-color: #ED4A77;
 }

.pagination>li>a,
.pagination>li>span {
    color:#ED4A77;
    transition-duration: .5s;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color:#ED4A77;
    background-color: #FFF2F5;
    border-color: #FFF2F5;
    transition-duration: .5s;
}
/* #endregion */

/* #region 버튼 */
.btn-primary {
    background-color: #EA8FA8!important;
    border-color: #EA8FA8!important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,  {
    background-color: #EA8FA8!important;
    border-color: #EA8FA8!important;
}
/* #endregion */

/* #region 게시글 */
#article-content-wrapper>.header {
    background: #FFF2F5;
    border-top: 2px solid #ED4A77;
}
#article-reply-area > .header h5 {
    color: #ED4A77;
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu > a,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > a
 {
    color: #ED4A77;
}
/* #endregion */

/* #region 애니메이션 */
header:before {
    width: 8px;
    height: 8px;
    content: ' ';
    border-radius: 50%;
    position: absolute;
    animation: snow 50s linear infinite;
    box-shadow: 38px -947px #FFF,145px -936px #FFF,254px -909px #FFF,382px -940px #FFF,493px -940px #FFF,636px -943px #FFF,754px -938px #FFF,869px -923px #FFF,989px -945px #FFF,1096px -945px #FFF,1234px -919px #FFF,1352px -904px #FFF,1462px -939px #FFF,1582px -946px #FFF,1711px -941px #FFF,1821px -920px #FFF,16px -800px #FFF,151px -843px #FFF,263px -810px #FFF,375px -846px #FFF,512px -831px #FFF,631px -802px #FFF,750px -811px #FFF,861px -806px #FFF,976px -824px #FFF,1096px -813px #FFF,1234px -810px #FFF,1341px -840px #FFF,1464px -805px #FFF,1571px -810px #FFF,1710px -828px #FFF,1815px -830px #FFF,14px -743px #FFF,150px -726px #FFF,256px -724px #FFF,399px -727px #FFF,514px -723px #FFF,632px -748px #FFF,758px -704px #FFF,851px -724px #FFF,988px -725px #FFF,1091px -727px #FFF,1236px -720px #FFF,1359px -721px #FFF,1453px -725px #FFF,1592px -707px #FFF,1718px -731px #FFF,1822px -731px #FFF,13px -600px #FFF,136px -616px #FFF,273px -634px #FFF,384px -624px #FFF,500px -647px #FFF,618px -622px #FFF,731px -640px #FFF,857px -640px #FFF,977px -639px #FFF,1091px -630px #FFF,1232px -627px #FFF,1340px -622px #FFF,1467px -610px #FFF,1577px -604px #FFF,1702px -603px #FFF,1813px -615px #FFF,26px -532px #FFF,142px -531px #FFF,258px -536px #FFF,374px -543px #FFF,499px -524px #FFF,623px -542px #FFF,737px -506px #FFF,859px -535px #FFF,991px -535px #FFF,1106px -524px #FFF,1217px -504px #FFF,1334px -506px #FFF,1464px -527px #FFF,1598px -504px #FFF,1717px -525px #FFF,1815px -539px #FFF,31px -424px #FFF,148px -442px #FFF,256px -415px #FFF,373px -417px #FFF,513px -420px #FFF,638px -448px #FFF,731px -400px #FFF,870px -405px #FFF,988px -433px #FFF,1115px -412px #FFF,1230px -415px #FFF,1357px -422px #FFF,1450px -401px #FFF,1585px -429px #FFF,1702px -435px #FFF,1828px -414px #FFF,17px -321px #FFF,158px -319px #FFF,253px -334px #FFF,371px -326px #FFF,510px -329px #FFF,620px -341px #FFF,737px -347px #FFF,853px -304px #FFF,989px -332px #FFF,1105px -332px #FFF,1215px -315px #FFF,1347px -310px #FFF,1471px -342px #FFF,1595px -308px #FFF,1707px -348px #FFF,1835px -342px #FFF,15px -247px #FFF,159px -206px #FFF,264px -204px #FFF,380px -208px #FFF,502px -218px #FFF,623px -226px #FFF,746px -200px #FFF,851px -214px #FFF,975px -211px #FFF,1119px -246px #FFF,1226px -237px #FFF,1344px -238px #FFF,1461px -248px #FFF,1582px -205px #FFF,1704px -228px #FFF,1826px -223px #FFF,28px -104px #FFF,159px -123px #FFF,275px -121px #FFF,381px -135px #FFF,511px -142px #FFF,617px -118px #FFF,730px -127px #FFF,875px -147px #FFF,996px -106px #FFF,1115px -140px #FFF,1234px -108px #FFF,1349px -124px #FFF,1451px -138px #FFF,1581px -101px #FFF,1700px -145px #FFF,1810px -144px #FFF,24px -18px #FFF,153px -6px #FFF,264px -3px #FFF,382px -15px #FFF,494px -17px #FFF,614px -14px #FFF,753px -24px #FFF,864px -11px #FFF,994px -25px #FFF,1102px -28px #FFF,1238px -3px #FFF,1348px -28px #FFF,1463px -35px #FFF,1592px -8px #FFF,1709px -19px #FFF,1819px -14px #FFF;

}

header:after {
    width: 5px;
    height: 5px;
    content: ' ';
    border-radius: 50%;
    position: absolute;
    animation: snow 100s linear infinite;
    box-shadow: 25px -907px #FFF,141px -947px #FFF,254px -914px #FFF,386px -931px #FFF,503px -938px #FFF,639px -930px #FFF,734px -934px #FFF,865px -900px #FFF,996px -918px #FFF,1113px -947px #FFF,1213px -932px #FFF,1344px -905px #FFF,1451px -942px #FFF,1596px -901px #FFF,1708px -912px #FFF,1832px -919px #FFF,32px -830px #FFF,159px -818px #FFF,264px -835px #FFF,375px -816px #FFF,509px -800px #FFF,631px -829px #FFF,735px -826px #FFF,860px -815px #FFF,990px -826px #FFF,1098px -804px #FFF,1234px -812px #FFF,1336px -816px #FFF,1463px -833px #FFF,1593px -801px #FFF,1698px -807px #FFF,1827px -821px #FFF,21px -707px #FFF,133px -743px #FFF,250px -743px #FFF,377px -710px #FFF,498px -744px #FFF,635px -738px #FFF,747px -721px #FFF,852px -743px #FFF,985px -719px #FFF,1106px -737px #FFF,1218px -702px #FFF,1334px -728px #FFF,1478px -730px #FFF,1589px -700px #FFF,1719px -742px #FFF,1817px -743px #FFF,33px -633px #FFF,148px -622px #FFF,265px -610px #FFF,395px -605px #FFF,519px -614px #FFF,624px -637px #FFF,738px -647px #FFF,871px -632px #FFF,985px -614px #FFF,1114px -607px #FFF,1219px -613px #FFF,1358px -635px #FFF,1465px -621px #FFF,1585px -601px #FFF,1692px -644px #FFF,1829px -632px #FFF,35px -541px #FFF,138px -505px #FFF,270px -516px #FFF,378px -517px #FFF,515px -523px #FFF,635px -532px #FFF,735px -517px #FFF,870px -504px #FFF,973px -546px #FFF,1110px -547px #FFF,1226px -533px #FFF,1330px -521px #FFF,1452px -507px #FFF,1576px -544px #FFF,1718px -506px #FFF,1831px -527px #FFF,13px -433px #FFF,146px -435px #FFF,251px -415px #FFF,399px -419px #FFF,501px -438px #FFF,617px -409px #FFF,758px -424px #FFF,850px -439px #FFF,973px -438px #FFF,1116px -416px #FFF,1223px -401px #FFF,1335px -449px #FFF,1453px -427px #FFF,1594px -417px #FFF,1691px -427px #FFF,1834px -403px #FFF,11px -311px #FFF,149px -343px #FFF,265px -303px #FFF,386px -334px #FFF,493px -332px #FFF,610px -338px #FFF,749px -309px #FFF,851px -301px #FFF,973px -337px #FFF,1098px -339px #FFF,1212px -335px #FFF,1336px -315px #FFF,1465px -308px #FFF,1595px -326px #FFF,1715px -316px #FFF,1819px -345px #FFF,32px -221px #FFF,147px -200px #FFF,259px -230px #FFF,396px -231px #FFF,491px -226px #FFF,619px -226px #FFF,744px -239px #FFF,869px -225px #FFF,972px -240px #FFF,1097px -220px #FFF,1226px -227px #FFF,1347px -207px #FFF,1476px -215px #FFF,1573px -244px #FFF,1716px -239px #FFF,1810px -220px #FFF,22px -100px #FFF,144px -109px #FFF,272px -112px #FFF,378px -111px #FFF,493px -118px #FFF,623px -116px #FFF,741px -140px #FFF,870px -144px #FFF,976px -130px #FFF,1097px -109px #FFF,1214px -104px #FFF,1346px -109px #FFF,1450px -136px #FFF,1599px -103px #FFF,1709px -126px #FFF,1821px -131px #FFF,39px -27px #FFF,149px -9px #FFF,257px -19px #FFF,390px -40px #FFF,509px -26px #FFF,613px -13px #FFF,759px -36px #FFF,859px -7px #FFF,978px -39px #FFF,1114px -44px #FFF,1231px -27px #FFF,1342px -36px #FFF,1457px -41px #FFF,1575px -36px #FFF,1717px -6px #FFF,1828px -42px #FFF;
}

@keyframes snow {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 1000px, 0);
    }
}
/* #endregion */