/*
** Github : http://github.com/ringether/TGD/
** Copyright(c)2018 All rights reserved by 2019slime
**
** 사용은 자유이나 출처 기재해주시면 감사드리겠습니다.
**
** 댕게더는 트게더의 CSS 운영정책을 존중합니다.
** 혹여나, 위반되는 항목이 있는 경우 댕게더에 알려주세요.
*/

/* #region 헤더 */
@font-face { font-family: 'Dovemayo-Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff') format('woff'); font-weight: normal; font-style: normal; }
header {
    border-bottom: 3px solid #F1A399;
    background: #FFCCC5;
}

header > #header-area > a > h1 {
    width: 120px;
    /* background: url(https://ringether.github.io/TGD/img/rohboksoon/logo.png) no-repeat; */
    background-size: 120px 32px;
}

header > #header-area > #header-bar-link {
    color: #F1A399;
}

header > #header-area > #header-search-link {
    color: #F1A399;
}

#header-top-notice strong.notice-badge {
    background: #F1A399;
}

body {
    font-family: 'Dovemayo-Medium', sans-serif;
}

#board-info {
    background: #FFFFFF;;
    border-top: 3px solid #F1A399;
}

#board-info > h1 > #board-info-profile-img {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top:-30px;
    background-size: 80px;
    border: 3px solid #F1A399;
    border-radius: 50%;
}

#board-info>h1>a {
    margin-left:65px;
}

#viewers-area {
    color: #F1A399;
}

#board-info > a.board-right-menu {
    border: 0;
    color: #F1A399;
}

img[title="Moderator"] {
    display: none;
}
#article-list>.article-list-row .fa-heart:before {
    content: "❤️";
    animation: pulse 1.5s infinite;
    border-radius: 50%;
    padding: 1px 0.6px 1px 0;
}

#article-list>.article-list-row .fa-star:before {
    animation: rotate 1.5s infinite;
}
/* #endregion */

/* #region 카테고리 */
#article-list #article-list-category {
    border: none;
    background: #FFFFFF;
}
#article-list #article-list-category > a {
    margin-top:1px;
    background: #FFFFFF;
    transition-duration: .7s;
}

#article-list #article-list-category > a.nav-link:first-child {
    padding-top: 10px;
    border-top: 3px solid #d6666f;
}
#article-list #article-list-category > a.nav-link.active:first-child {
    background: #F1A399;
}
#article-list #article-list-category > a.active > .fa-home, #article-list #article-list-category>a.active:hover > .fa-home {
    color: #FFFFFF;
}

#article-list #article-list-category>a[href*="?category=26070193"] {
    border-top: 3px solid #ffaf43;
}
#article-list #article-list-category>a[href*="?category=26070193"]:hover, 
#article-list #article-list-category>a.active[href*="?category=26070193"] {
    background: #ffaf43;
    color: #FFFFFF!important;
}

#article-list #article-list-category>a[href*="?category=26070217"] {
    border-top: 3px solid #c894e6;
}
#article-list #article-list-category>a[href*="?category=26070217"]:hover, 
#article-list #article-list-category>a.active[href*="?category=26070217"] {
    background: #c894e6;
    color: #FFFFFF!important;
}

#article-list #article-list-category>a[href*="?category=26070247"] {
    border-top: 3px solid #8fa3f0;
}
#article-list #article-list-category>a[href*="?category=26070247"]:hover, 
#article-list #article-list-category>a.active[href*="?category=26070247"] {
    background: #8fa3f0;
    color: #FFFFFF!important;
}

#article-list #article-list-category>a[href*="?category=26070285"] {
    border-top: 3px solid #3fd470;
}
#article-list #article-list-category>a[href*="?category=26070285"]:hover, 
#article-list #article-list-category>a.active[href*="?category=26070285"] {
    background: #3fd470;
    color: #FFFFFF!important;
}

/* #endregion */

/* #region 목록 */
#article-list {
    background: #FFF;
}
#article-list>.article-list-row{
    border-bottom: 2px solid #D6666F;
}
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span,
#article-list > .article-list-row > .item > .list-title > small.comment-count 
{
    color: #F9B723;
}
#article-list>.article-list-row.notice{
    background: #FFF7F6;
    color: #000000;
    font-weight: bold;
}
#article-list>.article-list-row.notice:hover, #article-list>.article-list-row.hot:hover {
    background: #FFFFFF;
}
#article-list>.article-list-row.hot {
    border-color:#F9B723;
    background-color: #FFEE;
}
#article-list>.article-list-row:hover {
    background-color:#FFF7F6;
}
#article-list>.article-list-row>.item>.list-header {
    border: none;
}
#article-list>.article-list-row>.item>.list-header>span {
    background-color: #F1A399;
}
#article-list>.article-list-row>.item>.list-time {
    border: none;
}
#article-list>.article-list-row:hover>.item>.list-header.v0>span {
    background: #FFF7F6;
    color: #FFF7F6;
}
/* #endregion */

/* #region 페이징 */
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
     background-color: #F1A399; 
     border-color: #F1A399;
 }

.pagination>li>a,
.pagination>li>span {
    color:#F9B723;
    transition-duration: .5s;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background-color: #D6666F;
    border-color: #D6666F;
    transition-duration: .5s;
}
/* #endregion */

/* #region 버튼 */
.btn-primary {
    border-radius:15px!important;
    background-color: #FFFFFF !important;
    border-color: #FFCCC5!important;
    color: #F9B723!important;
}
.btn-primary:active,
.btn-primary:focus, 
.btn-primary:hover {
    background-color: #FFF7F6!important;
}

#article-list #article-list-menu>.btn.best {
    border-radius:15px!important;
}
#article-list #article-list-menu>.btn.best:hover {
    background-color:#FFF1D4;
}
/* #endregion */

/* #region 뷰어 */
#board-info #viewers-area {
    color: #F1A399;
}
/* #endregion */

/* #region 게시글 */
#article-content-wrapper>.header {
    background: #FFEFDB;
    border-top: 2px solid #F1A399;
}
#article-reply-area > .header h5 {
    color: #F1A399;
}

#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply {
    border: 1px solid #F1A399;
    border-radius: 10px;
}

#article-reply-area #reply-real-area .reply > .reply-header, 
#article-reply-area #reply-best-area .reply>.reply-header {
    border-bottom: 1px solid #F1A399;
    border-radius: 10px 10px 0 0;
    background: #FFEFDB;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu > a,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > a
 {
    color: #F1A399;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(255,141,141, 0.4); }
    70% { box-shadow: 0 0 0 10px rgba(255,141,141, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255,141,141, 0); }
}
@-moz-keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(255,141,141, 0.4); }
    70% { box-shadow: 0 0 0 10px rgba(255,141,141, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255,141,141, 0); }
}
@-webkit-keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(255,141,141, 0.4); }
    70% { box-shadow: 0 0 0 10px rgba(255,141,141, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255,141,141, 0); }
}
@-ms-keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(255,141,141, 0.4); }
    70% { box-shadow: 0 0 0 10px rgba(255,141,141, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255,141,141, 0); }
}

@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}
@-moz-keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}
@-webkit-keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}
@-ms-keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}
/* #endregion */