/*
** Github : http://github.com/ringether/TGD/
** Copyright(c)2018 All rights reserved by aaarin317
**
** 사용은 자유이나 출처 기재해주시면 감사드리겠습니다.
**
** 린게더는 트게더의 CSS 운영정책을 존중합니다.
** 혹여나, 위반되는 항목이 있는 경우 린게더에 알려주세요.
*/
/* #region 헤더 */
header {
    border-bottom: 3px solid #CAA2EB;
    background: #E6D0F9;
}
/*
header > #header-area > a > h1 {
    width: 90px;
    background: url(https://ringether.github.io/TGD/img/logo_w.png) no-repeat;
    background-size: 90px 32px;
}
*/
header > #header-area > #header-bar-link {
    color: #CAA2EB;
}

header > #header-area > #header-search-link {
    color: #CAA2EB;
}

#header-top-notice strong.notice-badge {
    background: #CAA2EB;
}

#board-info {
    background: #E6D0F9;
    border-top: 3px solid #CAA2EB;
    border-bottom: 3px solid #CAA2EB;
}

#board-info > h1 > #board-info-profile-img {
    position: absolute;
    width: 60px;
    height: 60px;
    /*
    background: url(https://ringether.github.io/TGD/img/profile_181031.jpg) no-repeat -13px 0px;
    background-size: 80px;
    padding-left: 54px;
    */
    border: 3px solid #CAA2EB;
    border-radius: 50%;
    margin-top:-30px;
}

#board-info>h1>a {
    margin-left:65px;
}

#viewers-area {
    color: #CAA2EB;
}

#board-info > a.board-right-menu {
    border: 0;
    color: #CAA2EB;
}
/* #endregion */

/* #region 카테고리 */
#article-list #article-list-category,
#article-list #article-list-category>a {
    background: #E6D0F9;
}

#article-list #article-list-category > a.active,
#article-list #article-list-category > a:hover {
    background: #FFFFFF;
}
/* #endregion */

/* #region 목록 */
#article-list > .article-list-row.notice { 
    background-color: #EFEBFD;
}
#article-list>.article-list-row.notice:hover {
    background-color: #FFFFFF;
}
#article-list > .article-list-row.hot {
    background-color: #FFEE;
}
#article-list > .article-list-row:hover {
    background-color:#E6D0F9;
}
#article-list > .article-list-row > .item > .list-header > span {
    background-color: #E6D0F9;
}
#article-list > .article-list-row:hover > .item > .list-header.v0 > span {
    background: #E6D0F9;
    color: #E6D0F9;
}
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span,
#article-list > .article-list-row > .item > .list-title > small.comment-count 
{
    color: #CAA2EB;
}
/* #endregion */

/* #region 페이징 */
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
     background-color: #CAA2EB; border-color: #CAA2EB;
 }

.pagination>li>a,
.pagination>li>span {
    color:#CAA2EB;
    transition-duration: .5s;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color:#CAA2EB;
    background-color: #E6D0F9;
    border-color: #E6D0F9;
    transition-duration: .5s;
}
/* #endregion */

/* #region 버튼 */
.btn-primary {
    background-color: #CAA2EB!important;
    border-color: #CAA2EB!important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus  {
    background-color: #CAA2EB!important;
    border-color: #CAA2EB!important;
}
/* #endregion */

/* #region 뷰어 */
#board-info #viewers-area {
    color: #CAA2EB;
}
/* #endregion */

/* #region 게시글 */
#article-content-wrapper>.header {
    background: #E6D0F9;
    border-top: 2px solid #CAA2EB
}
#article-reply-area > .header h5 {
    color: #CAA2EB;
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu > a,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > a
 {
    color: #CAA2EB;
}
/* #endregion */