/*
** Github : http://github.com/ringether/TGD/
** Copyright(c)2021 All rights reserved by dohwaa
**
** 사용은 자유이나 출처 기재해주시면 감사드리겠습니다.
**
** 타게더는 트게더의 CSS 운영정책을 존중합니다.
** 혹여나, 위반되는 항목이 있는 경우 타게더에 알려주세요.
*/

/* #region 공통 */

/* 
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: auto;
    background: linear-gradient(to bottom, #fff8ff, #efe7ef);
}

body {
    letter-spacing: -0.05em !important;
    background: transparent;
    font-family: 'GongGothicLight', sans-serif;
}

footer {
    background: #ffffff!important;
}

::selection {
    background: #ffe56a;
    color: #000000;
}

::-moz-selection {
    background: #ffe56a;
    color: #000000;
}

img[title="Moderator"] {
    display: none;
}

.fa-heart:before {
    content: "❤️";
    animation: pulse 1.5s infinite;
    border-radius: 50%;
    padding: 1px 0.6px 1px 0;
}

#article-list>.article-list-row .fa-star {
    animation: rotate 1.5s infinite;
}

.btn-primary {
    border-radius: 15px !important;
    background: #b290b7 !important;
    transition-duration: .5s;
    border: 0!important;
    padding: 7px 12px;
}

.btn-primary:hover {
    background: #d0b2d4 !important;
}

/* fa색상 */

header #header-bar .fa {
    color: #ee7a7b;
}

a {
    color: #62406d;
}

.fr-toolbar {
    border-top-color: #b290b7!important;
}

.dropdown.open .dropdown-menu, .input-group-btn.open .dropdown-menu {
    opacity: unset;
    transform: unset;
}

.dropdown .dropdown-menu, .input-group-btn .dropdown-menu {
    display: block !important;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: all 0.35s ease-in-out;
}

/* #endregion */

/* #region 헤더 */

header {
    border-bottom: 3px solid #62406d;
    background: #fff8ff;
}

header>#header-area>a>h1 {
    width: 120px;
    background: url(https://ringether.github.io/TGD/img/tachio/logo.png) no-repeat;
    background-size: auto 32px;
    background-position: center;
}

header>#header-area>#header-bar-link, nav#nav>#nav-upper>#header-close-bar-link {
    color: #62406d;
}

header>#header-area>#header-search-link {
    color: #62406d;
}

#header-top-notice{
    display: none;
}

a#movetotop{
    opacity: 1;
    width: 80px;
    height: 80px;
    background: url(https://ringether.github.io/TGD/img/tachio/move_to_top.png);
    background-size: contain;
}

a#movetotop>img {
    display: none;
}

/* #endregion */

/* #region 좌측 메뉴 */

nav#nav {
    display: block!important;
    left: 0;
    background: #fffcff;
    transform: translateX(0);
    transition-property: left, opacity;
    transition-duration: 0.35s, 0.5s;
    opacity: unset;
}

nav#nav.hide {
    left: -300px;
    opacity: 0;
}

nav#nav>.nav-header {
    background: #62406d;
}

/* #endregion */

/* #region 정보 */

#board-info {
    background: #FFFFFF;
    border-top: 0;
}

#board-info>h1>#board-info-profile-img {
    width: 60px;
    height: 60px;
    background-size: 80px;
    border: 3px solid #62406d;
    border-radius: 50%;
    margin-right: 0.5em;
}

#board-info>a.board-right-menu {
    color: #62406d !important;
    line-height: 50px;
}

#board-info>.dropdown {
    line-height: 50px;
}

#board-info>.dropdown, #board-info>.dropdown>a {
    color: #62406d !important;
}

#board-info #score-area, #board-info #viewers-area {
    color: #62406d !important;
}

/* #endregion */

/* #region 카테고리 */

#article-list #article-list-category {
    border: none;
    background: #FFFFFF;
    border-top: 2px solid #b290b7;
    margin: 5px;
}

#article-list #article-list-category>a {
    background: #FFFFFF;
    transition-duration: .7s;
}

#article-list #article-list-category>a.nav-link.active, #article-list #article-list-category>a.nav-link:hover {
    background: #b290b7;
    color: #FFFFFF!important;
}

#article-list #article-list-category>a.active>.fa-home, #article-list #article-list-category>a.active:hover>.fa-home {
    color: #FFFFFF;
}

/* #endregion */

/* #region 리스트 */

#article-list>.article-list-row{
    transition-duration: .7s;
}

#article-list>.article-list-row:hover {
    background: #fff1ff;
}

#article-list>.article-list-row.notice {
    border: 2px solid #b290b7;
    border-radius: 20px;
    margin-top: 5px;
    background: #fffcff;
    color: #000000;
    font-weight: bold;
}

#article-list>.article-list-row.notice:hover{
    background: #fff1ff;
}

#article-list>.article-list-row.notice>.item>div {
    border: 0!important;
}

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #121545;
}

#article-list>.article-list-row:hover>.item>.list-header>span{
    background: transparent!important;
    color: transparent!important;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #62406d;
}

/* #endregion */

/* #region 게시글 */

#article-info {
    margin-top: 15px;
    background: #FFF;
}

#article-content-wrapper {
    background: #FFF;
}

#article-reply-area {
    background: #FFF;
}

#article-content-wrapper>.header {
    background: #fff8ff;
    border-top: 2px solid #b290b7;
}

#article-reply-area>.header h5 {
    color: #b290b7;
}

#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply {
    border: 1px solid #b290b7;
    border-radius: 10px;
}

#article-reply-area #reply-real-area .reply>.reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    border-bottom: 1px solid #b290b7;
    border-radius: 10px 10px 0 0;
    background: #fff8ff;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged, #article-reply-area #reply-real-area .reply>.reply-header>.reply-menu>a, #article-reply-area #reply-best-area .reply>.reply-header>.reply-menu>a {
    color: #b290b7;
}

#comment-write-form-area {
    padding: 0 1em 1em;
}

#article-neighbor-list {
    background: #FFF;
}

.vote-btn[data-type="up"] {
    border: none;
    font-size: 0;
    outline: 0 !important;
}

.vote-btn[data-type="up"]:hover {
    background: none !important;
}

.vote-btn[data-type="up"]::before {
    display: inline-block;
    background: white;
    border: solid #62406d 1px;
    color: #62406d;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    font-size: 26pt;
    content: "\f164";
    padding-top: 17px;
    padding-left: 2px;
    font: normal 22px/1 FontAwesome;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

.vote-btn[data-type="up"]:hover::before {
    background: #62406d;
    color: white;
}

.vote-btn[data-type="up"]:focus::before {
    color: #62406d;
}

.vote-btn[data-type="up"]:focus:hover::before {
    color: white;
}

.vote-btn[data-type="up"] span {
    float: left;
    padding-top: 14px;
    padding-left: 15px;
    font-size: 22px;
    color: #62406d;
}

.vote-btn[data-type="down"] {
    border: none;
    font-size: 0;
    outline: 0 !important;
}

.vote-btn[data-type="down"]:hover {
    background: none !important;
}

.vote-btn[data-type="down"]::before {
    display: inline-block;
    background: white;
    border: solid #ff6264 1px;
    color: #ff6264;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    font-size: 26pt;
    content: "\f165";
    padding-top: 17px;
    padding-left: 2px;
    font: normal 22px/1 FontAwesome;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

.vote-btn[data-type="down"]:hover::before {
    background: #ff6264;
    color: white;
}

.vote-btn[data-type="down"]:focus::before {
    color: #ff6264;
}

.vote-btn[data-type="down"]:focus:hover::before {
    color: white;
}

.vote-btn[data-type="down"] span {
    float: left;
    padding-top: 14px;
    padding-left: 15px;
    font-size: 22px;
    color: #ff6264;
}

/* #endregion */

/* #region 페이징 */

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 4px 0 0 4px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0 4px 4px 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover {
    background-color: #b290b7;
    border-color: #b290b7;
}

.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #b290b7;
    border-color: #d0b2d4;
}

.pagination>li>a:focus, .pagination>li>a:hover {
    background-color: #d0b2d4;
    border-color: #d0b2d4;
    color: #ffffff;
}

.pagination>li>span:focus, .pagination>li>span:hover {
    color: #b290b7;
}

.pagination>li>a, .pagination>li>span {
    color: #b290b7;
}

/* #endregion */